* {
  box-sizing: border-box;
  border: 1px solid red;
}

html, body {
  box-sizing: border-box;
  margin:0;
  height: 100%;
}

#container {
  max-width:1000px;
}

#recipe-nav {
  gap:20px;
}

#recipe-buttons {
  background-image:linear-gradient(to top,
  black,
  rgb(195, 0, 255));
  color: rgba(0, 255, 153, 0.873);
  font-weight: bolder;
  border:1px solid greenyellow;
  width: 10%;
  min-width:200px;
}

main
{
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-block: 50px;
  padding-inline:50px;
}

#recipe-window {
  text-align: left;
  border: 1px solid green;
  min-width:700px;
  padding: 10px;
  overflow-y: scroll;
}

.recipe p, .recipe h1, .recipe img {
  text-align: center;
}
