/* 
START SIZING AND POSITIONING
*/

* {
  box-sizing: border-box;
}

html, body {
  margin:0 auto;
  height: 100%;
}

#container {
 
  max-width:1000px;
  margin:0 auto;
  height:100%;
}

#recipe-nav {
  margin:auto;
  display: flex;
  justify-content: stretch;
  align-self:center;
  max-width:700px;
}

.recipe-buttons {
  padding-top:4px;
  width: 33.333333%;
  min-width:200px;
}

main {
  text-align: center;
  padding-block: 50px;
  padding-inline:50px;
  width:100%;
  height:100%;
}

#recipe-window {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: left;
  max-width:700px;
  min-width:600px;
  padding: 10px;
  max-height:80%;
  min-height:30%;
  overflow-y: auto;
}

.recipe {
  display: flex;
  flex-direction: column;
  width:80%;
}

.recipe img {
  align-self: center;
}

.recipe p, .recipe h2, .recipe img {
  text-align: center;
}
.recipe ol {
  padding-bottom:30px;
}
#intro {
  margin: auto;
}

/* 
END POSITIONING

START DECORATION
*/

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-image: radial-gradient(#01017a,black);
  padding-block:50px
}
#container {
  background-image: linear-gradient(#f561de, #009eaf, #7700ff,#f561de, #009eaf, #7700ff,#f561de, #009eaf, #7700ff);
  background-size: 100% 400%;
  border-radius: 5em;
  border:1px solid #00ff99df;
  box-shadow:#22014b 0 0 50px 1px,#22014b 0 0 50px 1px inset;
  animation: backgroundcycle 23s linear infinite;
}

@keyframes backgroundcycle {
  from {
        background-position:0% 0%;
  }
  to {
        background-position:0% 100%;
  }
}

h1 {
  color:rgb(48, 0, 53);
  text-shadow:#9ae0fe 1px 0 6px inset;
  font-weight:100;
}

.recipe-buttons {
  background-image:linear-gradient(to top,
  black,
  rgb(195, 0, 255));
  color:#00ff99df;
  font-weight: bolder;
  border:1px solid #00ff99df;
  border-bottom:1px solid #ff00ff;
  transition: box-shadow 0.2s linear, text-shadow 0.2s linear, color 0.2s linear;
}
.recipe-buttons:hover {
  background-image:linear-gradient(to bottom,
  black,
  #740197);
  color: #ff00ff;
  box-shadow: 0px -1px 10px 1px #00ff99df inset, 0px -1px 10px 1px #00ff99df;
  text-shadow:#9ae0fe 1px 0 6px;
}

.recipe-buttons:active {
  color:cyan;
}

button:first-child{
  border-radius: .75em 0 0 0;
}
button:last-child{
  border-radius: 0 .75em 0 0;
}

#recipe-window {
  background-image:radial-gradient(
  rgb(0, 206, 206),
  #740197);
  color:#1b0074;
  border:1px solid #00ff99df;
  border-top:1px solid #ff00ff;
  box-shadow: 0px 10px 70px 30px #5E2B91;
  border-radius: 0 0 .75em .75em;
}

h2, h1 {
  text-shadow: 1px 1px 2px magenta, 0 0 1em #740197, 0 0 0.2em #740197;
  color:rgb(130, 249, 255);
}

h3 {
    text-shadow: 1px 1px 2px cyan, 0 0 1em #740197, 0 0 0.2em #740197;
  color:#fc87fc;
}

nav#recipe-nav {
  box-shadow: 0px -10px 50px 20px #0084ff;
  border-radius: .75em .75em 0 0;
}

.recipe p{
  text-shadow: 1px 1px 1px #740197, 0 0 1em #5701d0, 0 0 0.1em blue;
  color:#0afb32;
}

.recipe li {
  text-shadow: .75px .4px 1px cyan, 0 0 1em #5701d0, 0 0 0.1em blue, 0 0 .2em black;
  color:#fc87fc;
}

.recipe img {
  border-radius: .75em;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow:
      inset 0 0  10px #00fff2,
      inset 0 0  15px #93ff2f56;
  border:2px solid #00f7ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: 
    inset 0 0  5px 1px #ff2edc,
    inset 0 0  15px #0062b3;
  background: radial-gradient(
    #eeff00,
    #adff2f,
    #00fff26b,
    #310029   );
  border: solid 2px #ee03ee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow:
    inset 0 0  5px #7cff30,
    inset 0 0  15px #ff2edc;
  background: radial-gradient(
    #ff00d4b7,
    #3700ff77,
    #00e1ff75,#52ff03   );
  border: solid 2px #00c753;
  border-radius: 10px;
}